.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #f26439;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: 'Inter', sans-serif;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
  height: 80px;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo-img {
  height: 80px;
}

.navbar-title {
  display: none;
}
